<form [formGroup]="form" autocomplete="off" class="create-query-form padding-10">
<div class="modal-header">
    <h4 class="modal-title">Payment Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
   
    
</div>
<div class="modal-body">

    <div style="margin-left: 150px;">
        <input formControlName="apiKey" placeholder="Paysoft API Key">
    </div>
    <div>
        <label> Payment Schedule</label>
        <select required formControlName="schedule" style="margin-left: 34px; width: 190px;">
            <option value="0" label="Same Day"></option>
            <option value="1" label="Real Time"></option>
            <option value="2" label="1 Day"></option>
        </select>
    </div>
    <div>
        <label> Payment Type</label>
        <select required formControlName="type" style="margin-left: 62px; width: 190px;">
            <option value="0" label="Wages"></option>
            <option value="1" label="Salaries"></option>
            <option value="2" label="Creditors"></option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" [disabled]="!(form.status==='VALID' && !isDisable)" class="btn btn-outline-dark" aria-label="submit" (click)="payment()">  
        Payment
    </button>
</div>
</form>